body {
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.65;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
}



