body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    place-items: center;
}

/* .paragraph-container {

} */

.paragraph {
    line-height: 1.65;
}